@font-face {
    font-family: 'SF-Pro-Text';
    src: url('../font/SF Pro Text/SF-Pro-Text-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text';
    font-weight: 600;
    src: url('../font/SF Pro Text/SF-Pro-Text-Semibold.otf') format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text';
    font-weight: 700;
    src: url('../font/SF Pro Text/SF-Pro-Text-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text';
    font-weight: 800;
    src: url('../font/SF Pro Text/SF-Pro-Text-Black.otf') format("opentype");
}

body {
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "SF-Pro-Text";
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    align-items: center;
}

.row .col-left {
    height: fit-content;
    width: 50%;
}

.row .col-right {
    height: fit-content;
    width: 50%;
}

.section-1 .row .col-left {
    width: 40%;
}

.section-1 .row .col-right {
    width: 58%;
}

.section-1 .row {
    justify-content: space-between;
}

.section-1 .video-wrap {
    height: 500px;
    overflow: hidden;
}

.section-1 .video-wrap video {
    position: absolute;
    top: 50%;
    height: 100%;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section-1 .col-left {
    overflow: hidden;
}

.section-2 .row {
    justify-content: space-between;
}

.section-2 .col-left {
    max-width: 619px;
    width: 53%;
}

.section-2  .col-right {
    width: 48%;
}

.section-2 p {
    max-width: 535px;
}

.section-2 h1 {
    margin-bottom: 61px;
}

.section-3 .col-right {
    max-width: 550px;
    margin-left: 90px;
}

.section-3 h1 {
    margin-bottom: 59px;
}

.section-4 .col-top {
    max-width: 787px;
}

nav {
    width: 100%;
    background-color: black;
}

nav .navbar-container {
    display: flex;
    align-items: baseline;
    padding: 30px 0px;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

nav .rightMenu {
    display: flex;
    margin-left: auto;
}

nav .navbar-toggle {
    display: none;
}

.btn {
    background: #676060;
    border-radius: 25px;
    font-style: normal;
    font-weight: 590;
    font-size: 18px;
    display: flex;
    gap: 13px;
    align-items: center;
    color: #CEBFBF;
    width: fit-content;
    padding: 12px 24px;
}

.btn.btn-gray {
    background-color: #CEBFBF;
    color: #676060;
}

.learn-more {
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: #F9D85E;
    display: flex;
    gap: 5px;
}

.flex-buttons {
    display: flex;
    align-items: center;
    gap: 37px;
    margin-top: 25px;
}

.circle-wrap {
    position: relative;
    max-width: 567px;
    overflow: hidden;
}

.circle-bg {
  fill: none;
  stroke: #151A20;
  stroke-width: 1.4;
}

.circle-wrap .circle {
    
}

.circle-wrap.animate .circle {
  animation: progress 2s ease-out forwards;
}

.circle-1 svg {
    transform: rotate(93deg);
}

.circle-1 .circle {
  stroke: #F72585;
  fill: none;
  stroke-width: 1.1;
  stroke-linecap: round;
}

.circle-1 .circle-bg {
    stroke-width: 1.1;
}

.circle-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000;
    width: 88%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
}

.circle-2 svg {
    transform: rotate(92deg);
}

.circle-2 .circle {
    stroke: #5ED500;
    fill: none;
    stroke-width: 1.3;
    stroke-linecap: round;
}

.circle-2 .circle-bg {
    stroke-width: 1.3;
}

.circle-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000;
    width: 75%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
}

.circle-3 svg {
    transform: rotate(91deg);
}

.circle-3 .circle {
    stroke: #6493F1;
    fill: none;
    stroke-width: 1.4;
    stroke-linecap: round;
}

.circle-3 .circle-bg {
    stroke-width: 1.4;
}

.circle-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000;
    width: 64%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
}

.circle-4 svg {
    transform: rotate(120deg);
}

.circle-4 .circle {
    stroke: #FFD600;
    fill: none;
    stroke-width: 1.6;
    stroke-linecap: round;
}

.circle-4 .circle-bg {
    stroke-width: 1.6;
}

.circle-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000;
    width: 53%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
}

.circle-5 svg {
    transform: rotate(90deg);
}

.circle-5 .circle {
    stroke: #57A146;
    fill: none;
    stroke-width: 1.7;
    stroke-linecap: round;
}

.circle-5 .circle-bg {
    stroke-width: 1.7;
}

.circular-chart {
    max-width: 100%;
    max-height: 567px;
}



@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}



nav .logo {
    margin-left: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: rgba(206, 191, 191, 0.5);
}

nav a {
    font-size: 15px;
    color: rgba(206, 191, 191, 0.5);
    padding-right: 20px;
    padding: 10px;
    margin-left: 27px;
    display: flex;
    align-items: center;
}

video {
    width: 100%;
}

img {
    max-width: 100%;
}

h1 {
    font-style: normal;
    font-weight: 860;
    font-size: 68px;
    line-height: 68px;
    color: #CEBFBF;
    margin-top: 0px;
    margin-bottom: 50px;
}

h1 span {
    background-image: linear-gradient(45deg, #CC62F1, #F39D6C);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #CEBFBF;
}

.text-flex {
    display: flex;
    align-items: end;
    gap: 12px;
}

section {
    margin: 50px 0px;
}

.section-1 {
    margin: 0px;
    margin-top: 13vh;
}

.section-2 {
    margin-top: 229px;
    margin-bottom: 342px;
}

.section-3 {
    margin-bottom: 382px;
    margin-top: 342px;
}

.section-4 {
    margin-top: 382px;
    margin-bottom: 237px;
}

.section-5 {
    margin-bottom: 243px;
    margin-top: 237px;
}

.chart {
    margin-top: 92px;
}

.chart img {
    width: 100%;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 52px;
}

.card-wrap .card {
    background: linear-gradient(90deg, #0B0B0B -44.86%, #181A1E 78.85%);
    border-radius: 25px;
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 26px;
    width: 560px;
    height: 161px;
    max-width: 100%;
}

.card-wrap .card>div {
    padding: 23px 39px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.portfolio-image .blank {
    position: absolute;
    width: 65%;
    height: 40%;
    top: 14%;
    left: 13%;
    transform: rotate(345deg);
    overflow: hidden;
}

.portfolio-image .screen {
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}
footer .footer-top {
    display: flex;
    justify-content: space-between;
}

footer .footer-top a {
    font-weight: 860;
    font-size: 11px;
    color: #CEBFBF;
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .footer-left {
    display: flex;
    align-items: center;
    gap: 37px;
}

footer .footer-right {
    display: flex;
    align-items: center;
    gap: 46px;
}

footer .footer-bottom {
    margin-top: 60px;
}

footer .footer-bottom p {
    font-weight: 860;
    font-size: 9px;
    color: #CEBFBF;
}

@media screen and (min-width: 1700px) {
    .portfolio-image .blank {
        position: absolute;
        width: 65%;
        height: 40%;
        top: 14%;
        left: 10%;
        transform: rotate(345deg);
        overflow: hidden;
    }
}

@media screen and (max-width: 800px) {
    html {
        overflow-x: hidden;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .portfolio-image .blank {
        position: absolute;
        width: 65%;
        height: 39%;
        top: 15%;
        left: 14%;
        transform: rotate(345deg);
        overflow: hidden;
    }

    nav .navbar-container {
        flex-direction: column;
    }

    nav .rightMenu a {
        margin-left: 0px;
    }
    
    nav .rightMenu {
        display: none;
        margin-left: 0;
        flex-direction: column;
    }
    
    nav .navbar-toggle {
        padding: 0px;
        display: flex;
        align-self: flex-end;
        position: absolute;
        cursor: pointer;
    }

    nav a {
        padding-left: 0px;
    }
    
    nav .showRightMenu {
        display: flex;
        margin-top: 25px;
    }

    nav .rightMenu a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row .col-left {
        width: 100%;
    }
    
    .row .col-right {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .section-1 .row .col-left {
        width: 100%;
    }

    .section-1 .row .col-right {
        width: 100%;
    }

    .section-1 .video-wrap {
        margin-bottom: 20px;
    }

    .section-1 {
        margin-top: 77px;
    }

    .section-3 .col-right {
        margin-left: 0px;
    }

    .section-2 p br {
        display: none;
    }

    .portfolio-image {
        margin-bottom: 25px;
    }
    
    .circle-wrap {
        margin-top: 20px;
    }
    
    .card-wrap {
        flex-direction: column;
    }

    .card-wrap .card {
        width: 100%;
    }

    .section-5 br {
        display: none;
    }

    footer .footer-top a {
        margin-right: 0px;
    }

    footer .footer-top {
        flex-direction: column;
    }

    footer .footer-left {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    footer .footer-right {
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    footer .footer-bottom {
        text-align: center;
    }
}